<article class="{{post_class}} {{#if @rowStart}} md:col-span-2 {{/if}}">
  <div class="card-body">

    <time class="text-xs text-gray-400 font-sans" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD.MM.YYYY"}}</time>
    <a href="{{url}}">
      <h2 class="font-bold text-3xl">{{title}}</h2>
      <p class="">
        {{#if @rowStart}}
          {{excerpt characters="280"}}
        {{else}}
          {{excerpt characters="140"}}
        {{/if}}
      </p>
    </a>

  </div>{{!--/.post-card-content--}}
</article>
